{include_www file="admin/lib/header3.html" title="添加编辑内容信息"}
<style>
    .ui-timepicker-div{ padding:0 10px; }
    .bg-gray{ background-color: #EEEEEE }
.a-btn{
    display: inline-block;
    width: 210px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    margin: 0 10px;
}
</style>
<!--start:container-add-->
<div class="container-add">
    <form id="form" action="{AnUrl('screen_content_new/admin/xcpic/save')}" method="post" enctype="multipart/form-data">
    <div class="bread clearfix">
        <div class="left">
            <a href="{AnUrl('screen_content_new/admin')}">亮屏管理</a>
            <i class="icon-arrow-right"></i>
            <a href="javascript:void(0)" class="active">内容发布</a>
        </div>
        <div class="right">
            <a href="{AnUrl('screen_content_new/admin')}" class="active">返回内容列表&gt;&gt;</a>
        </div>
    </div>
    <div class="add-form">
            <input type="hidden" name="id" value="{$info.id}" >
            <div class="main">
                <!--标题 start -->
                <div class="item clearfix">
                    <label class="left">标题</label>
                    <div class="con left">
                        <div class="input"><input type="text" id="title" name="info[title]" value="{$info['title']}" placeholder="请输入标题"></div>
                    </div>
                </div>
                <!--标题 end -->

                <!--图片和宣传图 start -->
                <div class="item clearfix uploadImg">
                    <label class="left">图片</label>
                    <div class="con left js_perUpWrap">
                        <div class="upload">
                            <div class="pic">
                                <div class="pic js_perUpOuter">
                                    {if $info.link}
                                    <img class="tupian" src="{_image($info.link)}">
                                    {/if}
                                </div>
                            </div>
                            <div id="box_upload" class="box js_perUpArea {if $info.link}hidden{/if}" style="z-index:0;">
                                <div class="icon-add" style="cursor:pointer;"></div>
                                <div class="title box_title">上传图片</div>
                                <div class="desc1">
                                    <p>格式：jpg／gif／png</p>
                                    <p>大小：不得超过4MB</p>
                                </div>
                            </div>
                        </div><!--为上传图片时展示-->
                        <div id="c_upload" style="cursor:pointer;" class="btn-upload js_perUpChange js_perUpArea {if !$info}hidden{/if}">
                            <span style="cursor:pointer;">重新选择</span>
                        </div><!--已上传图片时展示-->
                        {if !$info}
                        <input type="file" name="img_link" accept="image/*" class='js_perUpFile hidden'>
                        {else}
                        <input type="file" name="img_link" accept="image/*" class='js_perUpFile hidden'>
                        {/if}
                    </div>
                </div>
                <!--图片和宣传图 end -->
            </div>
            <!-- 按钮区 start-->
            <div class="btn-area">
                <button type="submit" class="btn-primary" id="submit_btn">保存信息</button>
                <!-- <button href="" class="btn-default-primary" id="return_list" >返回列表</button> -->
            </div>
            <!-- 按钮区 end -->
    </div>
    </form>
</div>
<script>
//var frm = $(this).closest('form');
//frm.submit();

 $("#submit_btn").on('click',function(){
	 $(this).attr("disabled","true"); //设置变灰按钮
	 $('#form').submit();
	 console.log(123)
     setTimeout("$('#submit').removeAttr('disabled')",3000); //设置三秒后提交按钮 显示
}) 
//图片上传预览
$(".js_perUpArea").click(function () {
    $(this).closest('.js_perUpWrap').find('.js_perUpFile').trigger('click');
});

$(".js_perUpFile").each(function (i) {
    $(this).change(function (e) {
        var type = $('#select_type').find('.active').attr('value');
            handleFileSelect($(this), function (data) {
            	$('#box_upload').hide();
            	$('#c_upload').show();
            });

    });
});
</script>
{load_js file="jquery.base64.min.js"}
{load_js file="screen_content_new/upload.js"}
<script>
    // 表单提交事件
    $('form').submit(function () {
        return checkForm();
    });
    // 检查表单
    function checkForm() {
        // 标题
        var title = $('#title').val();
        // 类型

        if (title == '') {
            alert('标题不能为空');
            $('#title').focus();
            return false;
        }


        return true;
    }

</script>
</body>
</html>