{include file='header2.html' title='数字地图--数据分析'}
<link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_URL}/css/m-zhongduan0301.css">
<link href="{$smarty.const.STATIC_URL}/js/tipsy/tipsy.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$smarty.const.STATIC_URL}/js/swiper/swiper.min.js"></script>

            <div class="tabs2">
                <a href="{AnUrl("screen_dm/status")}" class="active"><span>亮屏状态</span></a>
                <a href="{AnUrl("screen_dm/screen_content")}"><span>内容投放</span></a>
                <a href="{AnUrl("screen_dm/stat")}"><span>统计分析</span></a>
            </div>
            <div class="tabs1-con">
                <div class="count-reorder js_times">
                    <div class="item">
                      <span>
                        {if $search_filter.date_type == 1}
                          今日
                        {else if $search_filter.date_type == 2}
                          近七天
                        {else if $search_filter.date_type == 4}
                          本月
                        {else}
                          {$search_filter.start_date}至{$search_filter.end_date}
                        {/if}
                      </span><em class="icon-arrow-down"></em>
                    </div>
                </div>
                <ul class="liangping-count">
                    <li class="item" type ="1">
                        <div class="con">
                            <div class="title">总有效门店数
                                <em class="icon-ask cicon-tipsy" original-title="指定日期内单台设备活跃15天以上的门店为有效门店" >?</em>
                            </div>
                            <a href='{AnUrl("screen_dm/status/details?search_filter[data_type]=1&search_filter[date_type]={$search_filter.date_type}&search_filter[start_date]={$search_filter.start_date}&search_filter[end_date]={$search_filter.end_date}")}'>
                              <div class="num1">{if $search_days >= $valid }<span>{$valid_business_hall_count}</span>家{else}<span>----</span>{/if}</div>
                              <div class="desc">
                                  {if $search_filter.date_type == 1}今日{else if $search_filter.date_type == 4}本月{/if}新覆盖{$new_cover_business_hall_count}家
                              </div>
                              <div class="desc">({round($not_cover_business_hall_count/$business_hall_count*100,1)}%未覆盖)</div>
                            </a>
                        </div>
                    </li>
                    <li class="item" type ="2">
                        <div class="con">
                            <div class="title">总有效终端数
                                <em class="icon-ask cicon-tipsy" original-title="指定日期内活跃15天以上的设备为有效设备">?</em>
                            </div>
                            <a href='{AnUrl("screen_dm/status/details?search_filter[data_type]=2&search_filter[date_type]={$search_filter.date_type}&search_filter[start_date]={$search_filter.start_date}&search_filter[end_date]={$search_filter.end_date}")}'>
                              <div class="num1"><span>{$valid_device_count}</span>台</div>
                              <div class="desc">{if $search_filter.date_type == 1}今日{else if $search_filter.date_type == 4}本月{/if}新增{$new_valid_device_count}台</div>
                            </a>
                        </div>
                    </li>
                    <li class="item" type ="3">
                        <div class="con">
                            <div class="title">终端月活跃率<em class="icon-ask cicon-tipsy" original-title="指定日期内活跃15天以上的设备为月活跃设备">?</em></div>
                            <a href='{AnUrl("screen_dm/status/details?search_filter[data_type]=3&search_filter[date_type]={$search_filter.date_type}&search_filter[start_date]={$search_filter.start_date}&search_filter[end_date]={$search_filter.end_date}")}'>
                              <div class="num1"><span>{if $search_days >= $valid }{round($active_device_count/$install_device_count*100,1)}%{else}----{/if}</span></div>
                              {if $search_days >= $valid} 
                                <div class="desc">(月活跃{$active_device_count}台)</div>
                              {else}
                                <div class="desc">(累计活跃{$search_days}天的设备{$active_device_count_by_days}台)</div>
                              {/if}
                              
                            </a>
                        </div>
                    </li>
                    <li class="item" type ="4">
                         <div class="con">
                            <div class="title">终端离线率<em class="icon-ask cicon-tipsy" original-title="指定日期内设备一次都不活跃为离线设备">?</em></div>
                            <a href='{AnUrl("screen_dm/status/details?search_filter[data_type]=4&search_filter[date_type]={$search_filter.date_type}&search_filter[start_date]={$search_filter.start_date}&search_filter[end_date]={$search_filter.end_date}")}'>
                              <div class="num1"><span>{round($offonline_device_count/$install_device_count*100,1)}%</span></div>
                              <div class="desc">(离线量{$offonline_device_count})</div>
                            </a>
                         </div>
                    </li>
                </ul>
            </div>
            <!--start:日期选择弹层-->
            <div class="js_pop pop-bg hidden selectDate">
              <div class="pop-date">
                <div class="title">
                  <a href="javascript:void(0);" class="concel closeSelectDate">取消</a>
                  <span>选择日期</span>
                  <a href="javascript:void(0);" class="sure closeSelectDate">确定</a>
                </div>
                <form class="js_searchForm" action="{AnUrl("screen_dm/status")}" method="get">
                  <input type="hidden" class="js_timeStart" name="search_filter[start_date]" value="{$search_filter.start_date}">
                  <input type="hidden" class="js_endStart" name="search_filter[end_date]" value="{$search_filter.end_date}">
                  <div class="btns">
                    <label>
                      <input type="radio" {if $search_filter.date_type == 1}checked="checked"{/if} name="search_filter[date_type]" value="1"><span>今天</span></label>
                    <label>
                      <!-- <input type="radio" {if $search_filter.date_type == 2}checked="checked"{/if} name="search_filter[date_type]" value="2"><span>近7日</span></label> -->
                      <input type="radio" {if $search_filter.date_type == 4}checked="checked"{/if} name="search_filter[date_type]" value="4"><span>本月</span></label>
                    <label>
                      <input type="radio"  {if $search_filter.date_type == 3}checked="checked"{/if} name="search_filter[date_type]" value="3"><span>任一段时间</span></label>
                  </div>
                  <div class="date">
                    <div id="js_timeStart" class="item "><span>选择时间</span>
                      <input type="date">
                      <span class="js_timeStartSpan"></span>
                    </div>
                    <span class="txt">至</span>
                    <div id="js_timeEnd" class="item "><span>选择时间</span>
                      <input type="date">
                      <span class="js_timeEndSpan"></span>
                    </div>
                    <span class="btn-concel"></span>
                  </div>
                </form>
              </div>
            </div>
            <!--end:日期选择弹层-->
<script src="{$smarty.const.STATIC_URL}/js/tipsy/jquery.tipsy.js"></script>
<script>
   var defaultStartDate  = '{$search_filter.start_date}';
   var defaultEndDate    = '{$search_filter.end_date}';

   //设置时间默认值
   setDateValue();

   function setDateValue() {
     if (defaultStartDate) {
       $('#js_timeStart span').text(defaultStartDate);
     }
     
     if (defaultEndDate) {
       $('#js_timeEnd span').text(defaultEndDate);
     }
   }

   $(function() {
     ///////////////////////////////////////// 日期插件 /////////////////////////////////////////////////
     //时间范围
     var startTime, endTime;
     $('#js_timeStart input').change(function(e) {
       startTime = e.target.value;
       $('.js_timeStart').val(startTime);
       $(this).siblings('span').css({ opacity: 0 })
       $(this).css({ opacity: 1 })
     })
     
     $('#js_timeEnd input').change(function(e) {
       endTime = e.target.value
       console.log(e)
       $('.js_endStart').val(endTime);
       $(this).siblings('span').css({ opacity: 0 })
       $(this).css({ opacity: 1 })
       setTimeout(function() {
         if (startTime > endTime) alert("结束时间必须大于开始时间")
       }, 300)
     });
     
     //开启日期插件
     $('.js_times').on('click', function () {
       $('.js_pop').addClass('hidden');
       $('.selectDate').removeClass('hidden');
     });
     
     //关闭日期插件
     $('.closeSelectDate').on('click', function () {
       $('.selectDate').addClass('hidden');
       if ($(this).hasClass('sure')) {
         $('.js_searchForm').submit();
         //开启弹层
         startPopLoading();
       }
     });
     
     //清除日期
     $('.js_clearDate').on('click', function () {
       $('#js_timeStart .js_timeStart').css({ opacity: 0 });
       $('#js_timeStart input').css({ opacity:1 });
       $('#js_timeEnd .js_timeEnd').css({ opacity: 0 });
       $('#js_timeEnd input').css({ opacity:1 });
     });
  });
  //提示
  $('.cicon-tipsy').tipsy({
    //live: true,
    html: true,
    gravity: 'n' // nw | n | ne | w | e | sw | s | se  方向
});
</script>
{include_www file="admin/lib/s_footer.html"}
