<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="">
<meta name="description" content="">
<title>常见问题</title>
<link href="{$smarty.const.STATIC_URL}/css/base.css" rel="stylesheet" type="text/css">
<link href="{$smarty.const.STATIC_URL}/css/m-question.css" rel="stylesheet" type="text/css">
<link href="{$smarty.const.STATIC_URL}/js/swiper/swiper.min.css" rel="stylesheet" type="text/css">
<script src="{$smarty.const.STATIC_URL}/js/jquery-1.7.1.min.js"></script>
</head>

<body>
<div class="wrap">
  <header class="header">
     <a href="javascript:;" class="btn-back"></a>
     <h1 class="title"><span>客服中心</span></h1> 
  </header>
