{include_www file="admin/lib/header_new.html" title="玩应用列表"}
{include_www file="admin/lib/sidebar_new.html"}   
<!-- 主内容 start -->
      <!--start:右侧-->
      <div class="main pull-right">
        <div class="column">
          <div class="position">
            <a href="{AnUrl('screen/admin/app_stat')}"><i class="iconfont iconfont-logo2"></i>亮屏数据中心</a>
            &gt;
            <span>玩应用数据</span>
            <a href="javascript:history.go(-1);" class="btn btn-primary btn-sm pull-right">返回</a>
          </div>
          </br>
          <div class="form-search row clearfix">
            <div class="tabs2">
                <ul class="col-sm-6">
                    <li class="dateType {if $type==1}curr{/if}" ><a href="{AnUrl("screen/admin/app_stat?type=1")}" >今日</a></li>
                    <li class="dateType {if $type==2}curr{/if}" ><a href="{AnUrl("screen/admin/app_stat/week?type=2")}" >本周</a></li>
                    <li class="dateType {if $type==3}curr{/if}" ><a href="{AnUrl("screen/admin/app_stat?type=3")}" >本月</a></li>
                    <li class="dateType {if $type==4}curr{/if}" ><a href="{AnUrl("screen/admin/app_stat?type=4")}" >本年</a></li>
                </ul>

{if $type == 2}
{$url = "{AnUrl("screen/admin/app_stat/week?type=$type")}"}
{else}
{$url = "{AnUrl("screen/admin/app_stat?type=$type")}"}
{/if}

                 <div class="">
                  <form action="{AnUrl("screen/admin/app_stat?type=$type")}}" method="get" class="searchForm">
                    <div class="form-inline" id="dateSelectBox" >
                        <input type="hidden" name="type" value="{$type}">
                        <div class="form-group">
                            <label for="exampleInputName2">时间：</label>
                            <input type="text" class="form-control" style="width:100px; text-align:center;" name="start_time" id="start_time" value="{$start_time}" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">至</label>
                            <input type="text" class="form-control" style="width:100px; text-align:center;" name="end_time" id="end_time" value="{$end_time}" />
                        </div>
                        <button type="button" class="btn btn-success btn-sm" id="searchData">搜索</button>
                    </div>
                  </form>
                </div> 
            </div>
        </div>
          <div class="list">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="text-align:center">省份</th>
                  <th style="text-align:center">城市</th>
                  <th style="text-align:center">营业厅</th>
                  <th style="text-align:center">品牌</th>
                  <th style="text-align:center">型号</th>
                  <th style="text-align:center">imei</th>
                  <th style="text-align:center">应用名称</th>
                  <th style="text-align:center">打开次数</th>
                  <th style="text-align:center">运行时间</th>
                </tr>
              </thead>
              <tbody>
                {foreach $list as $k => $v}
                  <tr>
                      <td style="text-align:center">{_uri('province', $v.province_id, 'name')}</td>
                      <td style="text-align:center">{_uri('city', $v.city_id, 'name')}</td>
                      <td style="text-align:center">{_uri('business_hall', $v.business_id, 'title')}</td>
                      <td style="text-align:center">{$v.phone_name}</td>
                      <td style="text-align:center">{$v.phone_version}</td>
                      <td style="text-align:center">{if $v.imei}{$v.imei}{else}--{/if}</td>
                      <td style="text-align:center">{$v.app_name}</td>
                      <td style="text-align:center">{$v.open_count}</td>
                      <td style="text-align:center">{screen_helper::format_timestamp_text($v.run_time)}</td>
                      
                   </tr>
               {foreachelse}
                <tr><td colspan="10">暂无相关数据</td></tr>
               {/foreach}
              </tbody>
            </table>
            {include_www file="admin/lib/pager_new.html"}
          </div>
        </div>
        </div>
<script>
  $(function () {
    $('#searchData').on('click', function () {
       $('.searchForm').submit();
    });
  });
</script>
{include_www file="admin/lib/footer_new.html"}