{include_www file="admin/lib/header_new.html" title="轮播列表"}
{include_www file="admin/lib/sidebar_new.html"}   
<!-- 主内容 start -->
      <!--start:右侧-->
      <div class="main pull-right">
        <div class="column">
          <div class="position">
            <a href="{AnUrl('screen_stat/admin/device_stat')}"><i class="iconfont iconfont-logo2"></i>亮屏数据中心</a>
            &gt;
            <span>数据导出</span>
            <a href="javascript:history.go(-1);" class="btn btn-primary btn-sm pull-right">返回</a>
          </div>
          </br>
          <div class="form-search row clearfix">
            <div class="tabs2">
                <ul class="col-sm-6">
                    <li class="dateType {if $table_type==1}curr{/if}" ><a href="{AnUrl("screen_stat/admin/data_center?table_type=1")}" >表1</a></li>
                    <li class="dateType {if $table_type==2}curr{/if}" ><a href="{AnUrl("screen_stat/admin/data_center?table_type=2")}" >表2</a></li>
                    <li class="dateType {if $table_type==3}curr{/if}" ><a href="{AnUrl("screen_stat/admin/data_center?table_type=3")}" >表3</a></li>
                    <li class="dateType {if $table_type==4}curr{/if}" ><a href="{AnUrl("screen_stat/admin/data_center?table_type=4")}" >表4</a></li>
                </ul>

                <div class="">
                  <form action="{AnUrl('screen_stat/admin/data_center')}" method="get" class="searchForm">
                    <div class="form-inline" id="dateSelectBox" >
                        <input type="hidden" name="table_type" value="{$table_type}">
                        <div class="form-group">
                            <label for="exampleInputName2">时间：</label>
                            <input type="text" class="form-control" style="width:100px; text-align:center;" name="start_time" id="start_time" value="{$start_time}" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">至</label>
                            <input type="text" class="form-control" style="width:100px; text-align:center;" name="end_time" id="end_time" value="{$end_time}" />
                        </div>
                        <button type="button" class="btn btn-success btn-sm" id="searchData">搜索</button>
                        <a href="javascript:void(0);" class="btn btn-success btn-sm right" id="is_export">导出</a>
                    </div>
                    
                  </form>
                </div>
            </div>
        </div>
          <div class="list">
            {* 表1 *}
            {if $table_type == 1}
               {widget model="screen_stat.data_center" func="get_offline_data_for_business_hall" file="get_offline_data_for_business_hall.html" start_time="{$start_time}" end_time="{$end_time}"}
            {* 表2 *}
            
            {elseif $table_type == 2}
            {widget model="screen_stat.data_center" func="get_offline_data_for_version" file="get_offline_data_for_version.html" start_time="{$start_time}" end_time="{$end_time}"}
            {* 表3 *}
            {elseif $table_type == 3}
                {widget model="screen_stat.data_center" func="get_screen_keep_date_stat" file="get_screen_keep_date_stat.html" start_time="{$start_time}" end_time="{$end_time}"}
            {* 表4 *}
            {else if $table_type == 4}
                {widget model="screen_stat.data_center" func="get_screen_device_week_stat" file="get_screen_device_week_stat.html" start_time="{$start_time}" end_time="{$end_time}"}
            {* 表5 *}
            {else if $table_type == 5}
                {widget model="screen_stat.data_center" func="get_active_device_stat" file="get_active_device_stat.html" start_time="{$start_time}" end_time="{$end_time}"}
            {/if}
            
            {include_www file="admin/lib/pager_new.html"}
          </div>
        </div>
        </div>
<script>
  $(function () {
    $('#searchData').on('click', function () {
       $('.searchForm').submit();
    });
    
    $('#is_export').on('click', function () {
      $('.searchForm').append('<input type="hidden" class="is_export" name="is_export" value="1">');
      $('.searchForm').submit();
      $('.is_export').remove();
    });
    
  });
</script>
{include_www file="admin/lib/footer_new.html"}