{include file="apply/header.html" title="关注申请"}
<div class="success">
    <div class="icon-shen-failed"></div>
    <h3 class="title">审核加急中...</h3>
    <p>敬请谅解</p>
    <p>由于“企业号电信智慧门店运营”系统维护升级中</p>
    <p><b>您的信息已被记录采用</b></p>
    <p>一到三个工作日我们以短信方式提示您审核结果</p>
    <div class="code">
        <!-- <img src="{$smarty.const.STATIC_URL}/images/m-bang-account/code.png"> -->
    </div>
    <!-- <div class="code-tips">
        <div class="line"></div>
    </div> -->
</div>
{include file="apply/footer.html" }