<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>设备绑定</title>
     <link rel="stylesheet" type="text/css" href="{$smarty.const.STATIC_URL}/css/m-bang.css">
</head>

<body>
    <div class="bang-wrap">
        <input type="hidden" value="{$device_id}" class="device_id_value">
        <input type="hidden" value="{$device}" class="device_value">
        <div class="title title-ok"><span class="icon-ok"></span>绑定成功</div>
        <p class="tips">请按照纸质说明书,进行<span>第二步</span>操作</p>
        <div class="set-form"></div>
    </div>
</body>
<script type="text/javascript" src="{$smarty.const.STATIC_URL}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $(function(){
    	var device_id =$('.device_id_value').val();
    	var device =$('.device_value').val();
    	var rm = setTimeout(function(){
        window.location.replace("{$smarty.const.STATIC_URL}/probe_dev/m/binding/details?id="+device_id+"&device="+device);
	  },1500);
   }) 

</script>

</html>