{include_www file="admin/lib/header_new.html" title="套餐列表"}
{include_www file="admin/lib/sidebar_new.html"}   
<style>
    .pop-bg p .w_url{
       word-wrap: break-word;
    }
    .btn_msg{
       cursor:pointer;
    }
    .btn_msg:hover{
        color:#23527c;
    }
</style>
<!-- 主内容 start -->
      <!--start:右侧-->
      <div class="main pull-right">
        <div class="column">
          <div class="position">
            <a href="{AnUrl('screen_content/admin/content_meal')}"><i class="iconfont iconfont-logo2"></i>亮屏管理</a>
            &gt;
            <span>套餐发布</span>
          </div>

          <div class="tabs1">
            <ul class="clearfix">
              <li {if $search_filter['put_type'] == 1}class="curr" {/if}><a href="{compile_url($search_filter,'put_type',1,'screen_content/admin/content_meal')}">
              {if $member_info.ranks == 1}
              集团投放列表
              {else}
              自身投放列表
              {/if}
              </a></li>

              {if $member_info.res_name != 'group'}
                <li {if $search_filter['put_type'] == 2}class="curr"{/if}><a href="{compile_url($search_filter,'put_type',2,'screen_content/admin/content_meal')}">上级投放列表</a></li>
              {/if}

              {if $member_info.res_name != 'business_hall'}
                <li {if $search_filter['put_type'] == 3}class="curr"{/if}><a href="{compile_url($search_filter,'put_type',3,'screen_content/admin/content_meal')}">
                {if $member_info.ranks == 1}
                各省投放列表
                {else}
                下级投放列表
                {/if}
                </a></li>
              {/if}
            </ul>
          </div>

          <div class="form-search clearfix">
          
            <div class="pull-left">
   
                <form action="{AnUrl('screen_content/admin/content_meal')}" methhod='get'>
                <input type="hidden" name="anu" value="screen_content/admin/content_meal">
                {foreach $search_filter as $k=>$v}
                    <input type="hidden" class="{$k}" name="search_filter[{$k}]" value="{$v}">
                {/foreach}
                
                {if $member_info.ranks == 1 && $search_filter.put_type ==3}
                  <input type="text" id='title' name="search_filter[title]" style="width:150px" value="{$search_filter.title}" class="form-control input-sm pull-left" placeholder="按标题搜索">
                
                 <select class="form-control input-sm pull-left" id='province' style="width:120px" name="search_filter[province]" >
                      <option value="">请选择省</option>
                      {$info = business_hall_helper::get_info('province','')}
                     {foreach  $info as $k=>$v}
                       <option value="{$v.id}" {if $search_filter.province == $v.id}selected = "selected"{/if}>{$v['name']}</option>
                     {/foreach}
                 </select>
                 <select class="form-control input-sm pull-left" id="city" style="width:120px" name="search_filter[city]">
                    <option value="">请选择市</option>
                    {$pro_info= business_hall_helper::get_info('city' ,$where1)}
                     {foreach $pro_info as  $k=>$v}
                       <option {if $search_filter.city == $v.id} selected = "selected" {/if}  value="{$v.id}"> {$v.name} </option>
                     {/foreach}
                  </select>
                  <select class="form-control input-sm pull-left" id="area" style="width:120px" name="search_filter[area]">
                    <option value="">请选择地区</option>
                    {$city_info= business_hall_helper::get_info('area' ,$where2)}
                      {foreach $city_info as $k=>$v}
                        <option {if $search_filter.area ==$v.id}selected = "selected"{/if}  value="{$v.id}">{$v.name}</option>
                      {/foreach}
                   </select>
                   <input type="text" id='business_hall' name="search_filter[business_hall]" style="width:150px" value="{$search_filter.business_hall}" class="form-control input-sm pull-left" placeholder="按营业厅搜索">
                {else if}
                  <input type="text" name="search_filter[title]" value="{$search_filter.title}" class="form-control input-sm pull-left" placeholder="按标题搜索">
                    
                    <div class="form-group " style="float:left;">
                      <label for="exampleInputName2" style="float:left;">&nbsp;时间：</label>
                      <input type="text" class="form-control" style="float:left; width:85px; text-align:center;" name="search_filter[start_date]" id="start_time" value="{$search_filter.start_date}" />
                    </div>
                    
                    <div class="form-group"  style="float:left;">
                      <label for="exampleInputName2" style="float:left;">&nbsp;至：</label>
                      <input type="text" class="form-control" style="float:left; width:85px; text-align:center;" name="search_filter[end_date]" id="end_time" value="{$search_filter.end_date}" />
                    </div>
                {/if}
                <button type="submit" class="btn-search pull-left">搜索</button>
                </form>
            </div>
            <div class="pull-right">
              <!-- <span class="tips"> *还可添加8个内容 </span> -->
              <a href="{AnUrl('screen_content/admin/content_meal/add')}" class="btn btn-sm btn-success">添加套餐</a>
            </div>
          </div>

          <div class="tabs2">
            <ul class="clearfix">
            {foreach screen_content_config::$search_type as $k => $v}
              <li {if $search_filter['search_type'] == $k}class=" curr"{/if}><a  href="{compile_url($search_filter,'search_type',$k,'screen_content/admin/content_meal')}">{$v}</a></li>
            {/foreach}
            </ul>
          </div>

          <div class="list">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width='8%'>标题</th>
                  <th width='8%'>内容</th>
                  <th width='8%'>类型</th>
                  <th width='10%'>上线时间</th>
                  <th width='10%'>下线时间</th>
                  {if $member_info.ranks == 1 && $search_filter.put_type ==3}
                  
                  {else if}
                      <th width='7%'>创建者</th>
                      <th width='7%'>弹出数({$pop_count})</th>
                      <th width='7%'>点击数({$click_count})</th>
                      <th width='7%'>打开时间({screen_helper::format_timestamp_text($run_time)})</th>
                      
                  {/if}
                  <!-- 各省投放 -->
                  {if $member_info.ranks <= 2 && $search_filter.put_type ==3}
                    <th>省</th>
                    <th>市</th>
                    <th>营业厅</th>
                  {/if}
                  {if $search_filter.put_type ==1}
                    <th width='18%'>操作</th>
                  {else}
                    <th width='10%'>操作</th>
                  {/if}
                </tr>
              </thead>
              <tbody>
                {foreach $content_list as $k=>$v}
                <tr id="dataList{$v.id}" view_id = "{$v.id}" class="view_id">
                  <td>{$v.title}</td>
                  <td>
                    
                    {if $v.type == 1}
                        {$v.content}
                             
                    {else if $v.type == 2}
                        <!--  controls="controls" -->
                        {$v.ext_link}
                    {/if}
                  </td>
                  <td>{if $v.type == 1}内容{elseif $v.type == 2}链接{/if}</td>
                  <td class='btn_start'>{substr($v.start_time, 0, 10)}</td>
                  <td class='btn_end'>{substr($v.end_time, 0, 10)}</td>
                  {if $member_info.ranks == 1 && $search_filter.put_type ==3 }
                      
                  {else if}
                     <td>{member_helper::get_member_info($v.member_id,'member_user')}</td>
                     
                     <!-- 弹出量和点击量 -->
                     <td>
                         {if $search_filter.put_type != 2}
                             <a href="{AnUrl("screen_content/admin/content_meal_stat/pop_stat?res_id={$v.id}&search_filter[start_date]={$search_filter.start_date}&search_filter[end_date]={$search_filter.end_date}&type=1")}">
                                {screen_stat_helper::get_meal_stat_num($v.id, 1, $start_date, $end_date)}
                             </a>
                         {else}
                            {screen_stat_helper::get_meal_stat_num($v.id, 1, $start_date, $end_date)}
                         {/if}
                     </td>
                     
                     <td>
                         {if $search_filter.put_type != 2}
                             <a href="{AnUrl("screen_content/admin/content_meal_stat/pop_stat?res_id={$v.id}&search_filter[start_date]={$search_filter.start_date}&search_filter[end_date]={$search_filter.end_date}&type=2")}">
                                {screen_stat_helper::get_meal_stat_num($v.id, 2, $start_date, $end_date)}
                             </a>
                         {else}
                            {screen_stat_helper::get_meal_stat_num($v.id, 2, $start_date, $end_date)}
                         {/if}
                     </td>
                     
                     <td>
                         {if $search_filter.put_type != 2}
                            <a href="{AnUrl("screen_content/admin/content_meal_stat/pop_stat?res_id={$v.id}&search_filter[start_date]={$search_filter.start_date}&search_filter[end_date]={$search_filter.end_date}&run_time=run_time&type=2")}">
                            {screen_helper::format_timestamp_text(screen_stat_helper::get_meal_stat_num($v.id, 2, $start_date, $end_date, 'run_time'))}
                            </a>
                         {else}
                           {screen_helper::format_timestamp_text(screen_stat_helper::get_meal_stat_num($v.id, 2, $start_date, $end_date, 'run_time'))}
                         {/if}
                     
                     </td>
                  {/if}
                  {*<td>{city_helper::get_area_path($v.res_name, $v.res_id)}</td>*}
                  <!-- 各省投放 -->
                  {if $member_info.ranks <= 2 && $search_filter.put_type ==3 }
                     <td class='btn_pro'>{screen_content_helper::get_name($v.id , 'province', 'screen_content')}</td>
                     <td class='btn_city'>{screen_content_helper::get_name($v.id , 'city', 'screen_content')}</td>
                     <td class='btn_business'>{screen_content_helper::get_business_hall_name($v.id,'business_hall','screen_content')}</td>
                  {/if}

                  <td class="txtleft" resId={$v.id}>
                  {* if $search_filter.put_type == 1 || $search_filter.put_type == 3 *}
                  {if $search_filter.put_type == 2}
                                                        暂无
                  {else}
                      {if !$v.status}
                        <a class="btn btn-xs btn-info up_del" href="javascript:;">立即发布</a>
                      {else}
                        <a class="btn btn-xs btn-danger down_del" href="javascript:;">手动下线</a>
                      {/if}
                  {/if}
                    {if $search_filter.put_type == 1}
                      <a class="btn btn-xs btn-success" href="{AnUrl("screen_content/admin/content_meal/edit?id={$v.id}&search_type={$search_filter.search_type}")}">编辑</a>
                      {*<a class="btn btn-xs btn-success" href="{AnUrl("screen_content/admin/content_mealput?id={$v.id}")}">投放</a>*}
                      <a class="btn btn-xs btn-danger delete_hot" href="javascript:;">删除</a>
                   {/if}
                 </td>
                </tr>
                {/foreach}
              </tbody>
            </table>
            {include_www file="admin/lib/pager_new.html"}
          </div>
        </div>
        <!--end:列表-->
        <!--start:弹层-->
         <div class="pop-bg hidden" id="pop-bg">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn_close2" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title w_title" id="myModalLabel">添加型号昵称</h4>
                </div>
                <div class="modal-body">
                    <div class="media row">
                      <div class=" col-xs-8">
                          <div class="media-body">
                                <input type="text"  name="phone_version_nickname" style="width:180px">
                                <button type="button" class="btn btn-success btn-sm add_version_submit">确认</button>
                           
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        </div> 
<!-- 主内容 end -->
      </div>
<script>
//排序
$(function() {
  //X点击隐藏
  $('.btn_close').click(function(){
      $('#pop-bg').addClass('hidden');
  })

    //具体信息弹框
    $('.btn_msg').click(function(){
        //获取
        var title   = $(this).text();
        var img     = $(this).siblings('td[class="btn_img"]').find('img').attr('src');
        var url     = $(this).prev('input[class="btn_url"]').val();
        var start   = $(this).siblings('td[class="btn_start"]').text();
        var end     = $(this).siblings('td[class="btn_end"]').text();
        var pro     = $(this).siblings('td[class="btn_pro"]').text();
        var w_city  = $(this).siblings('td[class="btn_city"]').text();
        var w_business     = $(this).siblings('td[class="btn_business"]').text();
        $('.w_pro').text('投放范围：'+pro+'-'+w_city+'-'+w_business);
        //写入
        $('.w_title').text(title);
        $('.w_img').attr('src',img);
        $('.w_url').text(url);
        $('.w_url').attr('href',url);
        $('.w_start').text('上线时间：'+start);
        $('.w_end').text('下线时间：'+end);
        //点击显示
        $('#message').addClass('show');
    })
    //X点击隐藏
    $('.btn_close').click(function(){
        $('#message').removeClass('show');
    })
    //点击量
    $('.order_stat').click(function(){
                var title         = $('.title').val();
                var province      = $('.province').val();
                var city          = $('.city').val();
                var area          = $('.area').val();
                var business_hall = $('.business_hall').val();
                var type          = $('.type').val();
                var search_type   = $('.search_type').val();
                var put_type      = $('.put_type').val();
                
                var order_dir = $(this).attr('order_dir');
            window.location.href = "{AnUrl('screen_content/admin?')}"+"&search_filter[title]="+title+"&search_filter[province]="+province+"&search_filter[city]="+city+"&search_filter[area]="+area+"&search_filter[business_hall]="+business_hall+"&search_filter[type]="+type+"&search_filter[search_type]="+search_type+"&search_filter[put_type]="+put_type+"&order_dir="+order_dir;
            })
    //三级联动
        $('#province').change(function(){
             var province_id =  $(this).val();
             $.post("{AnUrl('business_hall/admin/ajax/get_city_name')}" , { province_id:province_id } ,function(json){
                 if (json.msg=='ok') {
                     var html = "<option selected='selected' value=''>请选择市</option>";
                     var jsonnum = eval(json.city_info);
                  for(var i=0; i< jsonnum.length; i++){
                         html += "<option value= '"+jsonnum[i].id+"'>"+jsonnum[i].name+"</option>";
                        }
                        $('#city').html('').append(html);
                        $('#city').trigger('change');
                       }
                 
                 
             },'json')
         })
         
         $('#city').change(function(){
             var city_id =  $(this).val();
             $.post("{AnUrl('business_hall/admin/ajax/get_area_name')}" , { city_id:city_id } ,function(json){
                 if (json.msg=='ok') {
                     var html = "<option selected='selected' value=''>请选择地区</option>";
                     var jsonnum = eval(json.area_info);
                  for(var i=0; i< jsonnum.length; i++){
                         html += "<option value= '"+jsonnum[i].id+"'>"+jsonnum[i].name+"</option>";
                        }
                        $('#area').html('').append(html);
                       }else {
                           var html = "<option selected='selected' value=''>请选择地区</option>";
                           $('#area').html('').append(html);
                       }
             },'json')
         })
         
    
    $( "#sortable" ).sortable({
        update: function(event, ui){
            resetViewOrder();
          }
        },
        { cancel: '.show_option' }
    );
    $( "#sortable" ).disableSelection();
});
function resetViewOrder()
{
  var ids = [];
  $.each($(".view_id"), function(k, v){
     ids[k] = $(this).attr('view_id');
  });

  $.post("{AnUrl("screen_content/admin/view_order")}",{ data:ids },function(){});
}
</script>
<script>
 var updateStatus = {
     _id:'',
     _msg :'操作失败',
     _url:"{AnUrl('screen_content/admin/ajax/update_meal_res_status')}",
     update:function(obj,status){
         this._id = $(obj).parent().attr('resId');

         $.post(this._url,{ id:this._id, status:status },function(json){
             if (json.info == 'ok') {
                 if (status == 0) {
                     updateStatus.updateHtmlDown(obj);
                 } else if (status == 1) {
                     updateStatus.updateHtmlUp(obj);
                 } else if (status == 2) {
                     updateStatus.deleteHtml(obj);
                 }
             } else {
                 alert(json.info);
             }
         },'json')
     },
     deleteHtml:function(obj){
         $(obj).closest("tr").fadeOut(function(){
            $(this).remove();
            interLineColor();
        });
        return false;
     },
     updateHtmlDown:function(obj){
         $(obj).html('立即发布');
         $(obj).removeClass('btn-danger');
         $(obj).removeClass('down_del');

         $(obj).addClass('btn-info');
         $(obj).addClass('up_del');
        
     },
     updateHtmlUp:function(obj){
         $(obj).html('手动下线');
         $(obj).addClass('btn-danger');
         $(obj).addClass('down_del');

         $(obj).removeClass('btn-info');
         $(obj).removeClass('up_del');
     }
 };

 $('.down_del').live('click',function(event){
     event.preventDefault();
     var result = confirm('下线后的内容将不会展示， 确认下线？');
     if (result) {
       updateStatus.update(this,0);
     }
     
     return false;
     
 })
$('.up_del').live('click',function(event){
     event.preventDefault();
     updateStatus.update(this,1);
 })

 $('.delete_hot').live('click',function(event){
     event.preventDefault();
     event.stopPropagation();
     if (!confirm("确定要删除该条记录吗？")) {
       return false;
     }
     updateStatus.update(this,2);
 })
</script>
<!-- 主内容 end -->
<!-- 引入弹层 -->
{include_www file="admin/lib/pop.html"}
{include_www file="admin/lib/footer_new.html"}