{include_www file="admin/lib/header_new.html" title="亮屏管理"}
{include_www file="admin/lib/sidebar_new.html"}   
<!-- 主内容 start -->
<!--start:右侧-->
<div class="main pull-right">
  <div class="column">
    <div class="position">
      <a href="{AnUrl('screen_device/admin/device')}"><i class="iconfont iconfont-logo2"></i>亮屏管理</a>
      &gt;
      {if $business_hall_title}<span>{$business_hall_title}</span>&gt;{/if}
      
      <span>设备列表（合计：{if $count}{$count}{else}0{/if}/台）</span>
      <a href="{AnUrl('screen_device/admin/device_use/get_list')}" class="btn btn-primary btn-sm pull-right">返回</a>
    </div>
    <br />

    <div class="form-search clearfix">
      <div class="pull-left">
        <form action="{AnUrl('screen_device/admin/device_use/detail')}" id="subForm" methhod='get'>
        <input type="hidden" name="phone_name" value="{$phone_name}">
          {if $member_res_name != 'business_hall'}
            {* 公共分权限搜索模块 *}
            {widget model='screen' func='get_search_by_member' file='get_search_by_member.html' member_info="{$member_info}"}
          {/if}

          {* 省市区搜索 *}

          {if $member_res_name != 'business'}
            <input type="text" id="title" style="width: 130px;" name="hall_title" value="{$hall_title}" class="form-control input-sm pull-left js_search ui-autocomplete-input" placeholder="按营业厅名称搜索" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
          {/if}
            <input type="text" style="width: 130px;" name="device_unique_id" value="{$device_unique_id}" class="form-control input-sm pull-left " placeholder="按设备标识ID搜索">
            <input type="text" style="width: 130px;" name="phone_name_nickname" value="{$phone_name_nickname}" class="form-control input-sm pull-left " placeholder="按型号搜索">

          <button type="button" class="btn-search pull-left" id="searchData" data-url="{AnUrl('screen_device/admin/device')}" >搜索</button>
        </form>
      </div>
      <a href="{AnUrl('screen_device/admin/device_use/detail',"?is_export=1&phone_name={$phone_name}&phone_name_nickname={$phone_name_nickname}&search_filter[province_id]={$search_filter.province_id}&search_filter[city_id]={$search_filter.city_id}&search_filter[area_id]={$search_filter.area_id}&search_filter[online_status]={$search_filter.online_status}&hall_title={$hall_title}&device_unique_id={$device_unique_id}")}" class="btn btn-primary btn-sm pull-right">导出</a>
    </div>

    <div class="list">
      <table class="table table-bordered">
        <thead>
          <tr>
            {if $member_info.res_name != 'business_hall'}
              <th width="8%">省</th>
              <th width="8%">市</th>
              <th width="19%">营业厅</th>
            {/if}
            <th width="10%">品牌</th>
            <th width="13%">型号</th>
            <th width="10%">标识ID</th>
            <th width="10%">IMEI</th>
            <th width="5%">版本</th>
            <th width="12%">添加时间</th>
          </tr>
        </thead>
        <tbody>
          {foreach $device_list as $k=>$v}
          <tr id="dataList{$k}">
            {if $member_info.res_name != 'business_hall'}
              <td>{_uri('province', $v.province_id, 'name')}</td>
              <td>{_uri('city', $v.city_id, 'name')}</td>
              <td>{_uri('business_hall', $v.business_id, 'title')}</td>
            {/if}
            {if $v.phone_name_nickname}{$phone_name = $v.phone_name_nickname}{else}{$phone_name = $v.phone_name}{/if}
            <td class="js_nickname" data-type="name" data-unique="{$v.device_unique_id}">
                <div class="hidden">
                    <input type="" value="{$phone_name}" style="width:80px">
                    <button type="button" class="btn btn-success btn-sm phone_info_submit">确认</button>
                </div>
                <span>{$phone_name}</span>
            </td>
            {if $v.phone_version_nickname}{$phone_version = $v.phone_version_nickname}{else}{$phone_version = $v.phone_version}{/if}
            <td class="js_nickname" data-type="version" data-unique="{$v.device_unique_id}">
                <div class="hidden">
                    <input type="text" value="{$phone_version}" style="width:80px">
                    <button type="button" class="btn btn-success btn-sm phone_info_submit">确认</button>
                </div>
                <span>{$phone_version}</span>
            </td>
            <td>{$v.device_unique_id}</td>
            <td>{if $v.imei}{$v.imei} {else}手机无imei{/if}</td>
            <td>{if $v.version_no}{$v.version_no}{else}--{/if}</td>
            <!-- <td>{$v.add_time|date_format:"Y-m-d H:i"}</td> -->
             <td>{substr($v.add_time, 0, 10)}</td>
          </tr>
          {foreachelse}
          <tr><td colspan="{if $member_info.res_name != 'business_hall'}10{else}7{/if}">暂无相关信息</td></tr>
          {/foreach}
        </tbody>
      </table>
      {include_www file="admin/lib/pager_new.html"}
    </div>
  </div>
  <!--end:列表-->
</div>
<!-- 主内容 end -->
{include_www file="admin/lib/footer_new.html"}

<script>
var isVersionEdit = false;

$(function () {
  $('#title').autocomplete({
    source: "/business_hall/admin/ajax/get_title_field",
  });
  
  $('#searchData').on('click',function() {
    $('#subForm').submit();
    //refershUrl();
  });
  
  $('.js_nickname span').on('click', function () {
    
    isVersionEdit = true;
    $(this).closest('td').find('div').toggleClass('hidden');
    $(this).toggleClass('hidden');
    return false;
  });
  
  
  
  $('.phone_info_submit').on('click', function () {
    var el = $(this).closest('.js_nickname');
    var newValue = el.find('div input').val();
    
    if (!newValue) {
      alert('值不能为空');return false;
    }
    
    el.find('span').text(newValue);
    el.find('div').toggleClass('hidden');
    el.find('span').toggleClass('hidden');
    
    var type = el.data('type');
    var device_unique_id = el.attr('data-unique');

    $.post(siteUrl+'/screen_device/admin/ajax/update_nickname', { new_nickname:newValue, type:type, device_unique_id:device_unique_id }, function (res) {
      if (res.info != 'ok') {
        alert(res.msg);
      }
    }, 'json');
  });
});

function refershUrl(){
  var $params           = { };
  $params.start_date    = $('#start_time').val();
  $params.end_date      = $('#end_time').val();

  $a = 1;
  var urlParam = '';
  for (var i in $params) {
    if ($params[i]) {
      if ($a == 1) {
        urlParam += '?';
      } else {
        urlParam += '&';
      }
      
      urlParam += 'search_filter['+ i + ']=' + $params[i];
    }
    
    $a += 1;
  }

  var url = siteUrl+'/screen_device/admin/device'+urlParam;
  window.location.href = url;

}
</script>