@charset "UTF-8";
/* CSS Document */

/*营业厅地图*/
body{ font-family:'Microsoft Yahei', Arial, Helvetica, sans-serif; color:#000; background:#efefef;}
select{ font-family:'Microsoft Yahei', Arial, Helvetica, sans-serif;}
a{ color:#000;}
.wrap{ min-width:320px; height:auto;}

.header{ height:0.9333333333rem; line-height:0.9333333333rem; text-align:center; background:#fff; position:relative;}
.header .btn-back{ display:block; width:0.9333333333rem; height:100%; position:absolute; left:0; top:0;}
.btn-back em{ display:inline-block; width:10px; height:10px; border-left:1px solid #333; border-bottom:1px solid #333; -webkit-transform:rotate(45deg);transform:rotate(45deg);}

.map{ height:6.3466666667rem; position:relative;}
.map .pos,
.map-big .pos{ height:auto; font-size:12px; background:#fff; border:1px solid #d9d9d9; border-radius:4px; line-height:0.72rem; padding-top:0.36rem; padding-bottom:0.36rem;
padding-left:0.36rem; padding-right:2.4rem; position:absolute; z-index:1;}
.map .pos > em,
.map-big .pos > em{ display:block; width:10px; height:10px; background:#fff; border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; -webkit-transform:rotate(45deg);transform:rotate(45deg); position:absolute; left:50%; margin-left:-5px; bottom:-5px;}
.map .pos .btn-go,
.map-big .pos .btn-go{ display:block; width:1.6266666667rem; height:0.72rem; text-align:center; color:#fff; background:#44a5f7; border-radius:4px; position:absolute; right:0.36rem; top:0.36rem;}
.map .pos .btn-go em,
.map-big .pos .btn-go em{ display:inline-block; background:url(../images/m-hall/arrow1.png) no-repeat; background-size:auto 11px; width:11px; height:11px; vertical-align:middle; margin:-2px 4px 0 0;}

.hall-list1 .btn-more{ display:block; height:1.28rem; line-height:1.28rem; text-align:center; font-size:14px; color:#44a5f7; background:#fff;}
.hall-list1 .btn-more em{ display:inline-block; background:url(../images/m-hall/arrow3.png) no-repeat; background-size:100% auto; width:14px; height:8px; vertical-align:middle; margin:0 0 0 5px;}
.hall-list1 li{ height:auto; background:#fff; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; margin-bottom:0.1333333333rem;}
.hall-list1 li a{ display:block; padding-top:0.4rem; padding-bottom:0.4rem; padding-left:0.4rem; padding-right:2.1333333333rem; position:relative;}
.hall-list1 li a:hover{ background:#e9e9e9;}
.hall-list1 li .title{ display:block; font-size:16px; line-height:1.6; word-wrap:break-word; padding-bottom:5px;}
.hall-list1 li .addr{ display:block; font-size:12px; color:#b1b1b1; line-height:1.4; word-wrap:break-word;}
.hall-list1 li .long{ display:block; width:2.1333333333rem; height:30px; text-align:center; color:#4eabfa; font-size:16px; position:absolute; right:0; top:50%; margin-top:-15px;}

/*筛选*/
.header-select{ height:0.5866666667rem; line-height:0.5866666667rem; font-size:13px; padding-top:0.32rem; padding-left:2.2133333333rem; padding-bottom:0.32rem; background:#fff; position:relative; border-bottom:1px solid #d9d9d9;}
.header-select .btn-back{ display:block; width:2.2133333333rem; height:1.2rem; line-height:1.2rem; text-align:center; position:absolute; left:0; top:0;}
.header-select .btn-back em{ width:7px; height:7px;}
.header-select label{ display:inline-block; border-left:1px solid #d9d9d9; padding-left:0.2333333333rem; vertical-align:middle;}
.header-select span{ display:inline-block; position:relative; vertical-align:middle;}
.header-select span em{ display:block; width:0px; height:0px; overflow:hidden; border:5px solid rgba(0,0,0,0); border-top:5px solid #333; position:absolute; right:5px; top:50%; margin-top:-2px;pointer-events: none;}
.header-select span select{ display:inline-block; width:2rem; height:0.5866666667rem; line-height:0.5866666667rem; padding:0 15px 0 5px; border-radius:0px; background:#fff; border:1px solid #d9d9d9;-webkit-appearance:button;appearance:button; font-size:12px; color:#333; outline:none;}
.loading{ width:1.387rem; height:1.387rem; background:#fff url(../images/m-hall/loading.gif) center center no-repeat; background-size:100% auto; border-radius:4px; margin:0.48rem auto;}
.hall-list2 li{ height:auto; padding-right:1.9866666667rem; padding-top:0.1333333333rem; padding-bottom:0.1333333333rem; background:#fff; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; margin-bottom:0.1333333333rem; position:relative;}
.hall-list2 li .con{ display:block; padding-top:0.4rem; padding-bottom:0.4rem; padding-left:0.4rem; padding-right:2.1333333333rem; border-right:1px solid #eaeaea; position:relative;}
.hall-list2 li .title{ display:block; font-size:16px; line-height:1.6; word-wrap:break-word; padding-bottom:5px;}
.hall-list2 li .addr{ display:block; font-size:12px; color:#b1b1b1; line-height:1.4; word-wrap:break-word;}
.hall-list2 li .long{ display:block; width:2.1333333333rem; text-align:center; color:#4eabfa; font-size:16px; line-height:1.6; position:absolute; right:0; top:0.4rem;}
.hall-list2 li .btn-go{ display:block; width:1.9866666667rem; height:100%; text-align:center; position:absolute; right:0; top:0;}
.hall-list2 li .btn-go span{ display:block; width:100%; height:0.7733333333rem; position:absolute; left:0; top:50%; margin-top:-0.3866666667rem;}
.hall-list2 li .btn-go em{ display:block; background:url(../images/m-hall/arrow2.png) no-repeat; background-size:auto 0.48rem; width:0.48rem; height:0.48rem; margin:0 auto;}

.map-big{ position:absolute; left:0; top:0.9333333333rem; bottom:1.2rem; width:100%; border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}

.btn-go-tucao{ position:fixed; left:0; bottom:0; z-index:1; width:100%; height:1.2rem; background:#fff;}
.btn-go-tucao a{ display:block; height:1.2rem; line-height:1.2rem; text-align:center; font-size:13px; background:#fff;}
.btn-go-tucao a img{ vertical-align:middle; margin:-2px 5px 0 0;}