*{
	padding: 0;
	margin: 0;
}
a{
	color: #333;
	text-decoration: none;
}
body{
	font-family: 'Microsoft Yahei', Arial;
	background: #f3f4f5;
	font-size: 12px;
}
.header{
	height: 45px;
	line-height: 45px;
	text-align: center;
	position: relative;
	z-index: 1;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header .title{
	font-size: 16px;
}
.header .btn-back{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding: 0 10px;
	line-height: 45px;
	font-size: 12px;
}
.icon-arrow-left{
	display: inline-block;
	width: 7px;
	height: 7px;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	vertical-align: middle;
	margin-right: 4px;
	position: relative;
	top: -2px;
}
.header-user{
	padding: 5px 20px;
	background: #fff;
	margin-bottom: 10px;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header-user .avatar{
	width: 35px;
	height: 35px;
	border-radius: 35px;
	overflow: hidden;
}
.header-user .avatar img{
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.header-user .name{
	-webkit-flex: 1;
	flex: 1;
	margin-left: 20px;
	font-size: 15px;
}
.header-user .name .tel{
	font-size: 13px;
	margin-left: 10px;
}
.kaoqin-list{

}
.kaoqin-item{
	padding: 7px 15px 7px 20px;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.kaoqin-item .status{
	-webkit-flex: 1;
	flex: 1;
	text-align: right;
}
.kaoqin-item .status-warning{
	color: #ff6660;
}
.kaoqin-item .status-warning .tag{
	display: inline-block;
	line-height: 22px;
	padding: 0 5px;
	color: #fff;
	background: #ff6660;
	border-radius: 4px;
}
.icon-arrow-right{
	display: inline-block;
	width: 8px;
	height: 8px;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	vertical-align: middle;
	margin-left: 4px;
	position: relative;

}
.kaoqin-detail{
	background: #fff;
	margin-top: 10px;
}
.kaoqin-detail table{
	width: 100%;
	height: auto;
	text-align: left;
}
.kaoqin-detail table th{
	line-height: 35px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #eff7fa;
	padding-left: 35px;
}
.kaoqin-detail table td{
	line-height: 35px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 35px;
}
.tags{
	background: #fff;
	padding: 15px 0 5px 15px;
	margin-bottom: 10px;
}
.tags .tag{
	display: inline-block;
	line-height: 22px;
	padding: 0 30px 0 7px;
	font-size: 12px;
	color: #666;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin: 0 7px 10px 0;
	position: relative;
}
.tags .tag .icon-del{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/icon-add.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	right: 7px;
	top: 4px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}



