{include_www file="admin/lib/header_new.html" title="营业厅监控列表"}
{include_www file="admin/lib/sidebar_new.html"}
<style>
    .btn-top{
        margin-top:5px;
    }
    </style>
<!-- 主内容 start -->
<div class="main pull-right">
    <div class="column">
        <div class="position">
            {$last_time = business_hall_helper::get_last_update_time()}
            <a href="{AnUrl('business_hall/admin/')}"><i class="iconfont iconfont-logo2"></i>营业厅管理</a>
            &gt;活跃厅无用户监控
            <span>（共{$count}条）</span>
           
        </div>
       
        <div class="form-search clearfix">

             <div class="pull-left">
                 <form action="{AnUrl('business_hall/admin/business_login')}" method='get'>
                   {* 公共分权限搜索模块 *}
                   {widget model='business_hall' func='get_search_by_member' file='get_search_by_member.html' member_info="{$member_info}"}
                   
                   {* 营业厅渠道编码 *}
                   <input type="text" id="user_number" class="form-control input-sm pull-left" name="search_filter[user_number]" value="{$search_filter.user_number}"  placeholder="根据渠道编码搜索">
                   <button type="submit" class="btn-search pull-left">搜索</button>
                 </form>

            </div>
            <div class="pull-right">
                <a href="javascript:void(0);" class="btn btn-sm btn-success csv_export">导出</a>
            </div>
        </div>
        <div class="list">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th width="13%">营业厅名称</th>
                    <th width="13%">编码渠道</th>
                    <th width="8%">省</th>
                    <th width="8%">市</th>
                    <th width="8%">区</th>
                    <th width="8%">离线时间</th>
                    <th width="15%">最后活跃时间</th>
                    
                    <!-- <th width="13%">类别</th>
                    <th  width="13%">用户名</th>
                    <th width="13">更新时间</th>
                    <th width="8%">操作</th> -->
                </tr>
                </thead>
                <tbody>
                  {foreach $business_list as $k=>$v}
                    <tr id="dataList{$v.id}" view_id = "{$v.id}" class="view_id">
                      <td>{$v.title}</td>
                      <td>{$v.user_number}</td>
                      <td>{$v.province}</td>
                      <td>{$v.city}</td>
                      <td>{$v.area}</td>
                      <td>{$v.duration}天</td>
                      <td>{$v.last_login_time}</td>
                    </tr>
                  {foreachelse}
                  <tr><td colspan="13">暂无相关信息</td></tr>
                  {/foreach}
                </tbody>
            </table>
            {include_www file="admin/lib/pager_new.html"}
        </div>
    </div>
    <!--end:列表-->
</div>
<!-- 内容区块 end -->
</div>
<script>
    var count = "{$count}";
	$(function(){
		/* $('#title').autocomplete({
 			source: "/business_hall/admin/ajax/get_title_field",
		}); */

		$('#province').change(function(){
			 var province_id =  $(this).val();
			 $.post("{AnUrl('business_hall/admin/ajax/get_city_name')}" , { province_id:province_id } ,function(json){
				 if (json.msg=='ok') {
					 var html = "<option selected='selected' value=''>请选择市</option>";
					 var jsonnum = eval(json.city_info);
				  for(var i=0; i< jsonnum.length; i++){
					     html += "<option value= '"+jsonnum[i].id+"'>"+jsonnum[i].name+"</option>";
					    }
					    $('#city').html('').append(html);
					    $('#city').trigger('change');
					   }
				 
				 
			 },'json')
		 })
		 
	     $('#city').change(function(){

	    	 var city_id =  $(this).val();
	    	 $.post("{AnUrl('business_hall/admin/ajax/get_area_name')}" , { city_id:city_id } ,function(json){
	    		 if (json.msg=='ok') {
	    			 var html = "<option selected='selected' value=''>请选择地区</option>";
	    			 var jsonnum = eval(json.area_info);
	    		  for(var i=0; i< jsonnum.length; i++){
	    			     html += "<option value= '"+jsonnum[i].id+"'>"+jsonnum[i].name+"</option>";
	    			    }
	    			    $('#area').html('').append(html);
	    			   }else {
	    				   var html = "<option selected='selected' value=''>请选择地区</option>";
	    				   $('#area').html('').append(html);
	    			   }
	    	 },'json')
	     });
		var export_lock = false;
		//王敬飞
		//营业厅数据导出  
    	$(".csv_export").on('click', function(e){
          e.preventDefault();
          $(".csv_export").html('正在导出..');
          
          if (export_lock) {
            alert('正在导出');return;
          }
          
          export_lock = true;
          
          var province_id = $('#province').val();
          var city_id     = $('#city').val();
          var area_id     = $('#area').val();
          var user_number = $('#user_number').val();
          var business_id = $('#business_id').val();
          var data = { };
          
          if (province_id) {
            data.province_id = province_id;
          }
          
          if (city_id) {
            data.city_id = city_id;
          }
          
          if (area_id) {
            data.area_id = area_id;
          }
          
          if (business_id) {
            data.business_id = business_id;
          }
          var url = "{AnUrl('business_hall/admin/ajax/business_login_export')}";
          exec_export(data, url, 1);
        });
		
        

	});
	
	var count = {$count};
	function exec_export(requestData, url, is_delete_mc) {
	  requestData.is_delete_mc = is_delete_mc;
	  $.post(url, requestData, function (data) {
	    is_delete_mc = 0;
	    if (data.info == 'end'){
	      export_lock = false;
	      $('.csv_export').html('导出');
	      window.location.href="{AnUrl('business_hall/admin/business_login/export')}";
	      return false;
	    }

	    if (data.info == 'ok') {
	      exec_export(requestData, url, is_delete_mc);
	    }
	    
	  }, 'json');
	}
	
	
</script>
<!-- 主内容 end -->
{include_www file="admin/lib/footer_new.html"}