{include file="admin/lib/header.html"}
		<!--start:主内容-->
		<div class="inner main">
			<div class="bread"><a href='{AnUrl("file_apply/admin/apply")}'>改造申请&gt;</a>
                {if $res_name == 'province'}  
                    <span class="curr">{_uri('province', $res_id, 'name')}</span>
                {/if}
                
                {if $res_name == 'city'}  
                    <span class="curr">{_uri('city', $res_id, 'name')}</span>
                {/if}
            </div>
			<div class="apply-tabs clearfix hidden">
				
				<!-- <div class="item">
					<a href="###" class="status-end">申请 2</a>
					<em class="btn-close"></em>
				</div> -->
			</div>
			<div class="tabs-content">
				<form class="ss1" id="szy_form" action='{AnUrl("file_apply/admin/apply/save")}' method="post"  enctype="multipart/form-data">
					 {if $res_name == 'province'}
                    <input type='hidden' name='info[province_id]' value="{$p_id}">
                    {else if $res_name == 'city'}
                    <input type='hidden' name='info[province_id]' value="{$p_id}">
                    <input type='hidden' name='info[city_id]' value="{$c_id}">
                    {/if}
                    <input type='hidden' name='id' value="{$info.cid}" class="convert_id">
                    <input type='hidden' name='flag' value="0" class="flag_id">
                    <div class="apply-form">
						<div class="item clearfix">
							<label class="label left">*渠道编码</label>
							<div class="con left">
								<div class="text"><input type="text" name="info[user_number]" value="{$info.user_number}" class="required autocomplete change_number" placeholder="请输入渠道编码"></div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*门店名称</label>
							<div class="con left">
								<div class="text">
                                     <input type="text" name="info[business_title]" value="{business_hall_helper::get_business_hall_info($info.business_id, 'title')}" class="form-control required selectBusiness" placeholder="请输入营业厅名称">
                                    <input type="hidden" name="info[business_id]" value="{$info.business_id}" class="selectBusinessId">
                                </div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*所属市区</label>
							<div class="con left">
								<select class="select js_city required" name="info[city_id]" default_value="0">
									<option value="0">请选择</option>
                                    <option {if $k == $info.city_id}selected{/if} value="{$k}">{$v}</option>
								</select>
								<select class="select js_area required" name="info[area_id]" default_value="0">
									<option value="0">请选择</option>
                                    <option {if $v.id == $info.area_id}selected{/if} value="{$v.id}">{$v.name}</option>
								</select>
							</div>
						</div>
                        
                        <div class="item clearfix">
                            <label class="label left">*厅级</label>
                            <div class="con left">
                                <select class="select js_store required tingji" name="info[store_type]" default_value="0" default_text="厅级">
                                        <option value="0">请选择</option>
                                        {foreach file_apply_config::$store_type as $k => $v}
                                             <option  {if $k == $info.store_type}selected{/if} value="{$k}">{$v}</option>
                                        {/foreach}
                                </select>
                            </div>
                        </div>

                        
						<div class="item clearfix">
							<label class="label left">*门店面积</label>
							<div class="con left">
								<div class="text"> 
                                    <input type="number" name="info[business_area]" value="{$info.business_area}" class="required men" placeholder="请输入厅店面积">㎡</span>
                                 </div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*改造预算</label>
							<div class="con left">
								<div class="text">
                                    <input type="number" name="info[budget]" value="{$info.budget}" class="required js_budget" placeholder="请输入改造预算">
                                 </div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*上次改造时间</label>
							<div class="con left">
								<div class="text">
                                    <input type="text" class="form-control last"  validate="required" name="info[last_time]" id="start_time" value="{$info['last_time']}" placeholder="请选择上次改造时间"><em class="icon-date"></em>
                                 </div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*改造开始时间</label>
							 <div class="con left">
								<div class="text">
                                    <input type="text" name="info[change_begin]"  value="{$info['change_begin']}" class="form-control" id="from_time"  validate="required" placeholder="请选择开始时间" ><em class="icon-date"></em>
                                </div>
							</div> 
						</div>
						<div class="item clearfix">
							<label class="label left">*改造结束时间</label>
							<div class="con left">
								<div class="text">
                                    <input type="text" name="info[change_end]"  value="{$info['change_end']}"  class="form-control" id="end_time" validate="required"   placeholder="请选择结束时间"><em class="icon-date"></em>
                                </div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*分区布局方案<span class="desc">请勾选改造门店所包含的区域</span></label>
							<div class="con left">
								<div class="item-checkbox">
                                {foreach file_apply_config::$plan_type as $k=>$v}
                                    {if $plan_info}
                                    <label><input type="checkbox" name="info[plan_type][]" value="{$k}" checked="checked" class="JS_planType" ><span>{$v}</span></label>
                                    {else}
                                    <label><input type="checkbox" name="info[plan_type][]" value="{$k}" class="JS_planType"><span>{$v}</span></label>
                                    {/if}
                              {/foreach}
								</div>
                                {*整体平面图开始*}
                                <div class="upload-btn js_perUpArea  js_perUpWrap">
                                     <div class="default js_perUpOuter js_perUpAdd {if $info.link } hidden{/if}" data-show-id="content_img">
                                        <em class="icon-add"></em>
                                        <p>上传整体平面图</p>
                                    </div>
                                    {if !$info}
                                        <input type="file" name="link[]" class='js_perUpFile sheji hidden'/>
                                    {else}
                                        <input type="file" name="link[]" class='js_perUpFile sheji hidden'/>
                                    {/if}
                                </div>
                              {*整体平面图结束*}
                              
                              {*门头平面图开始*}
                                <div class="upload-btn js_perUpArea js_perUpWrap mentou_img hidden">
                                     {if $plan_info.link}
                                        <img src="{_image($plan_info.link)}" class="js_perUpAdd" />
                                     {/if}
                                     <div class="default js_perUpOuter js_perUpAdd {if $plan_info.link} hidden{/if}" data-show-id="content_img">
                                        <em class="icon-add"></em>
                                        <p>上传门头平面图</p>
                                    </div>
                                    {if !$plan_info}
                                        <input type="file" name="plan_mentou[]" class='js_perUpFile mentou hidden'/>
                                    {else}
                                        <input type="file" name="plan_mentou[]" class='js_perUpFile mentou hidden'/>
                                    {/if}
                                </div>
                              {*门头平面图结束*}
                              
                              {*入门平面图开始*}
                                <div class="upload-btn js_perUpArea js_perUpWrap rumenqu_img hidden">
                                     {if $plan_info.link}
                                        <img src="{_image($plan_info.link)}" class="js_perUpAdd" />
                                     {/if}
                                     <div class="default js_perUpOuter js_perUpAdd {if $plan_info.link} hidden{/if}" data-show-id="content_img">
                                        <em class="icon-add"></em>
                                        <p>上传入门平面图</p>
                                    </div>
                                    {if !$plan_info}
                                        <input type="file" name="plan_rumen[]" class='js_perUpFile rumen hidden'/>
                                    {else}
                                        <input type="file" name="plan_rumen[]" class='js_perUpFile rumen hidden'/>
                                    {/if}
                                </div>
                              {*入门平面图结束*}
                              
                              {*业务办理平面图开始*}
                                <div class="upload-btn js_perUpArea js_perUpWrap yewu_img hidden">
                                     {if $plan_info.link}
                                        <img src="{_image($plan_info.link)}" class="js_perUpAdd" />
                                     {/if}
                                     <div class="default js_perUpOuter js_perUpAdd {if $plan_info.link} hidden{/if}" data-show-id="content_img">
                                        <em class="icon-add"></em>
                                        <p>上传业务办理平面图</p>
                                    </div>
                                    {if !$plan_info}
                                        <input type="file" name="plan_yewu[]" class='js_perUpFile yewu hidden'/>
                                    {else}
                                        <input type="file" name="plan_yewu[]" class='js_perUpFile yewu hidden'/>
                                    {/if}
                                </div>
                              {*业务办理平面图结束*}
                              
                              {*终端区平面图开始*}
                                <div class="upload-btn js_perUpArea js_perUpWrap zhongduan_img hidden">
                                     {if $plan_info.link}
                                        <img src="{_image($plan_info.link)}" class="js_perUpAdd" />
                                     {/if}
                                     <div class="default js_perUpOuter js_perUpAdd {if $plan_info.link} hidden{/if}" data-show-id="content_img">
                                        <em class="icon-add"></em>
                                        <p>上传终端区平面图</p>
                                    </div>
                                    {if !$plan_info}
                                        <input type="file" name="plan_zhongduan[]" class='js_perUpFile zhongduan hidden'/>
                                    {else}
                                        <input type="file" name="plan_zhongduan[]" class='js_perUpFile zhongduan hidden'/>
                                    {/if}
                                </div>
                              {*终端区平面图结束*}
                              
                              {*交付区平面图开始*}
                                <div class="upload-btn js_perUpArea js_perUpWrap jiaofuqu_img hidden">
                                     {if $plan_info.link}
                                        <img src="{_image($plan_info.link)}" class="js_perUpAdd" />
                                     {/if}
                                     <div class="default js_perUpOuter js_perUpAdd {if $plan_info.link} hidden{/if}" data-show-id="content_img">
                                        <em class="icon-add"></em>
                                        <p>上传交付区平面图</p>
                                    </div>
                                    {if !$plan_info}
                                        <input type="file" name="plan_jiaofu[]" class='js_perUpFile jiaofu hidden' />
                                    {else}
                                        <input type="file" name="plan_jiaofu[]" class='js_perUpFile jiaofu hidden' />
                                    {/if}
                                </div>
                              {*交付区平面图结束*}
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*设计公司名称</label>
							<div class="con left">
								<div class="text">
                                    <input type="text" name="info[design_company]" value="{$info.design_company}" class="required " placeholder="">
                                </div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*设计师姓名</label>
							<div class="con left">
								<div class="text">
                                    <input type="text" name="info[designer]" value="{$info.designer}" class=" required " placeholder="">
                                </div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*设计师联系电话</label>
							<div class="con left">
								<div class="text"><input type="text" name="info[design_phone]" value="{$info.design_phone}" class=" required " placeholder=""></div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*电信方设计对接人姓名</label>
							<div class="con left">
								<div class="text"><input type="text" name="info[take]" value="{$info.take}" class=" required " placeholder=""></div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*电信方设计对接人联系电话</label>
							<div class="con left">
								<div class="text"><input type="text" name="info[take_phone]" value="{$info.take_phone}" class=" required " placeholder=""></div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">*近6个月平均销售额</label>
							<div class="con left">
								<div class="sub-item clearfix">
									<label>移动月均新增</label>
									<span class="text"><input type="number" name="info[mobile_add]" value="{$info.mobile_add}" class=" required " placeholder=""></span>
									<span class="unit">户</span>
								</div>
								<div class="sub-item clearfix">
									<label>宽带月均新增</label>
									<span class="text"><input type="number" name="info[wide_add]" value="{$info.wide_add}" class=" required " placeholder=""></span>
									<span class="unit">户</span>
								</div>
								<div class="sub-item clearfix">
									<label>终端月均销售</label>
									<span class="text"><input type="number" name="info[pc_add]" value="{$info.pc_add}" class=" required " placeholder=""></span>
									<span class="unit">户</span>
								</div>
								<div class="sub-item clearfix">
									<label>月均业务新增收入</label>
									<span class="text"><input type="number" name="info[work_add]" value="{$info.work_add}" class=" required " placeholder=""></span>
									<span class="unit">万</span>
								</div>
							</div>
						</div>
						<div class="item clearfix">
							<label class="label left">备注</label>
							<div class="con left">
								<textarea class="form-control" name="info[remark]"  placeholder="请在这里输入备注" rows="5"></textarea>
							</div>
						</div>
					</div>
					<div class="apply-btn-area clearfix">
						<div class="left">
							<button type="button" class="btn-default-primary add_apply" add_flag="0">+添加申请门店</button>
						</div>
						<div class="right">
							<button type="button" class="btn-primary selectSub">立即提交</button>
							<button type="button" class="btn-black">保存草稿</button>
							<button type="button" class="btn-default">取消</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!--end:主内容-->
	</div>
<script src="{$smarty.const.SITE_URL}/js/region_func.js?id={time()}"></script>
<script src="{$smarty.const.SITE_URL}/js/admin.js?id={time()}"></script>
{load_js file='jquery-1.7.1.min.js'}
        {load_js lib='jquery-ui'}
        {* 加载bootstrapjs *}
        {load_js file='bootstrap-2.3.1/js/bootstrap.min.js'}
        {* 插件区 *}
        {load_js file="validate/jquery.validate.js"}
        {load_js file="jquery.cookie.js"}
        {load_js file="validate/messages_cn.js"}
        {load_js file="validate/additional-methods.js"}
        {load_js file="jqueryui/1.8.11/i18n/jquery.ui.datepicker-zh-CN.js"}

<script>
var k = 1;
var siteUrl = "{$smarty.const.SITE_URL}";
var member_id = "{$member_id}";
var res_id = "{$res_id}";
var res_name = "{$res_name}";


$(function(){
    {if $info}
        region({$info.province_id}, {$info.city_id}, {$info.area_id}, {$info.business_id});
    {else}
        {if $c_id}
          region({$p_id}, {$c_id}, 0, 0);
        {else}
          region({$p_id},0, 0, 0);
        {/if}
    {/if}

    
     $('.JS_planType').on('click',function(){
         
         $(".JS_planType:checked").each(function() {
                 if($(this).val() == 0){
                     $('.mentou_img').removeClass('hidden');
                 }else if($(this).val() == 1){
                     $('.rumenqu_img').removeClass('hidden');
                 }else if($(this).val() == 2){
                     $('.yewu_img').removeClass('hidden');
                 }else if($(this).val() == 3){
                     $('.zhongduan_img').removeClass('hidden');
                 }else if($(this).val() == 4){
                     $('.jiaofuqu_img').removeClass('hidden');
                 }
            });   
         $(".JS_planType:not(:checked)").each(function() {
                if($(this).val() == 0){
                    $('.mentou_img').addClass('hidden');
                    $("input[name='plan_mentou[]'").val('');
                }else if($(this).val() == 1){
                    $('.rumenqu_img').addClass('hidden');
                    $("input[name='plan_rumen[]'").val('');
                }else if($(this).val() == 2){
                    $('.yewu_img').addClass('hidden');
                    $("input[name='plan_yewu[]'").val('');
                }else if($(this).val() == 3){
                    $('.zhongduan_img').addClass('hidden');
                    $("input[name='plan_zhongduan[]'").val('');
                }else if($(this).val() == 4){
                    $('.jiaofuqu_img').addClass('hidden');
                    $("input[name='plan_jiaofu[]'").val('');
                }
            });   
     })

//将表单数据整理到表单列表
$('.add_apply').on('click',function(){
	var flag =  check_form();
	if(!flag){
		return false;
	}
     $('#addLoading').removeClass('hidden');
    var formobj =  document.getElementById("szy_form");
    var formdata = new FormData(formobj);
    formdata.append('res_id',res_id);
    formdata.append('res_name',res_name);
    formdata.append('member_id',member_id);
   
       $.ajax({
        url: siteUrl+'/file_apply/admin/ajax/add_apply',
        type: "POST",
        data: formdata,
        processData: false,  // 不去处理发送的数据
        contentType: false,   //不设置Content-Type请求头
        success: function(response){
          $('#addLoading').addClass('hidden');
           var json=$.parseJSON(response);
            $('.convert_id').val(json.cid);
         //清除表单信息
         reset_form();
         $('.apply-tabs').removeClass('hidden');
         var html = '';
          html +='<div class="item status-end check_active" flag="'+(k+1)+'">';
          html +='<a href="'+siteUrl+'/file_apply/admin/apply/load_apply?id='+json.id+'&cid='+json.cid+'" class="status-ing">申请 '+k+'</a>';
          html +='<em class="btn-close" id="'+json.id+'" cid="'+json.cid+'"></em>';
          html +='</div>';
         $('.apply-tabs').append(html);
           k++;
           change_active();
        }
   });
});
     
     
     
     //取消删除所有
     $('.btn-default').on('click',function(){
    	 var id = $('.convert_id').val();
    	 if(!id){
    		 window.location.href = siteUrl+'/file_apply/admin/apply';
    		 return false;
    	 }
             $.post(siteUrl+'/file_apply/admin/ajax/delete_apply',{ 'id':id },function(json){
                 if(json.info == 'ok'){
                	    window.location.href = siteUrl+'/file_apply/admin/apply';
                }
             },'json');
     });
    	 


     //改变顶部样式
     function change_active(){
    	 $('.check_active').removeClass('active');
    	 $('.check_active').addClass('status-end');
    	 $(".check_active").each(function(){
    		    var flag = $(this).attr('flag');
    		    if(flag == k){
    		    	$(this).addClass('active');
    		    }
    		  });
     }

     //点击x只有一个头部标签时ajax删除
     $('.btn-close').live('click',function(){
    	  var id = $(this).attr('id');
    	  var cid = $(this).attr('cid');
    	  //获取元素个数
    	  var len = $('.apply-tabs').children('.check_active').length;
    	  console.log(len);
    	  if(len == 1){
        	  $.post(siteUrl+'/file_apply/admin/apply/delete_apply',{ 'id':id,'cid':cid },function(json){
        		  if(json.info == 'clear'){
                     $('.apply-tabs').empty();
                     $('.apply-tabs').addClass('hidden');
                     //保证再次添加时无cid
                     $('.convert_id').val(0);
                     k = 1;
                 }
              },'json');
    	  }else{
    		  window.location.href = siteUrl+'/file_apply/admin/apply/apply_delete?id='+id+'&cid='+cid;
    	  }
     });

    
//清除表单
 function reset_form(){
     var id = $('.convert_id').val();
     $(':input','.ss1').not(':button,:submit,:reset,:checkbox').val('');
     $('.clearfix option').removeAttr("selected");
     $('.do_img').remove();
     $('.default.js_perUpOuter.js_perUpAdd').css('display','block');
     $(":checkbox").removeAttr('checked');
     //隐藏图片区域
     $('.mentou_img').addClass('hidden');
     $('.rumenqu_img').addClass('hidden');
     $('.yewu_img').addClass('hidden');
     $('.zhongduan_img').addClass('hidden');
     $('.jiaofuqu_img').addClass('hidden');
     $('.convert_id').val(id);
 }
    
//上传文件的预览
$(".js_perUpAdd").live('click',function(){
    $(this).closest('.js_perUpWrap').find('.js_perUpFile').trigger('click');
}); 




 $('.js_perUpFile').change(function(e){
     handleFileSelect($(this), function (data) {
       }); 
  }); 
  
 
 
//点击样式文本框获取焦点
 $('.icon-date').on('click',function(){
     $(this).prev("input").focus();
 });
 
 
function error( msg )
{
    alert(msg);
    return false;
}


$('.selectSub').click(function(e) {
    e.preventDefault();
   var flag =  check_form();
   if(!flag){
       return false;
   }
    //1为提交 0为草稿
    $('.flag_id').val('1');
    $('#szy_form').submit();
});

//保存草稿
$('.btn-black').click(function(e) {
    e.preventDefault();
   var flag =  check_form();
   if(!flag){
       return false;
   }
    $('#szy_form').submit();
});
});

//渠道码自动补全
$('.autocomplete').autocomplete({
source: 'file_apply/admin/ajax/get_user_number_list?province_id='+{$p_id}+'&c_id='+{$c_id},
    //选择
    select: function(event, ui){
      
      $(this).val(ui.item.label);
      //隐藏域
      $('.selectBusinessId').val(ui.item.id);
      // 必须阻止事件的默认行为，否则autocomplete默认会把ui.item.value设为输入框的value值
      event.preventDefault();
      
    }
    
});

//根据试图编码自动填充市区
$('.change_number').on('blur',function(){
var user_number = $(this).val();
var province_id = {$p_id};
var url ="{AnUrl('file_apply/admin/ajax/getInfoByNumber')}";
$.post(url,{ 'user_number':user_number,'province_id':province_id},function(json){
    if (json.info == 'fail') {
       
    }else {
        var title = json.title;
        $('.selectBusiness').val(title);
        region(json.province_id,json.city_id,json.area_id, 0);
        $('.js_store').val(json.store_type);
        $('.selectBusinessId').val(json.id);
    }

},'json');
});


function handleFileSelect(obj, callback)
{
  //alert(FileReader)
  if (typeof FileReader == "undefined") {
    return false;
  }
  var thisClosest = obj.closest('.js_perUpWrap');
  var thisOuter = thisClosest.find('.js_perUpOuter');
  
  if (typeof thisClosest.length == "undefined" || typeof thisOuter.length == "undefined") {
    return;
  }
  
  var files = obj[0].files;
  var f = files[0]; 
  if (!isAllowFile(f.name)) {
    showMsg("请上传常规格式的图片,如：jpg, png等");
    return false;
  }
  
  // 如果浏览器支持html5 FileReader
  if (typeof FileReader != 'undefined') {
    var reader = new FileReader();
    reader.onload = (function(theFile){
        return function (e) {
          var tmpSrc = e.target.result;
          if (tmpSrc.lastIndexOf('data:base64') != -1) {
            tmpSrc = tmpSrc.replace('data:base64', 'data:image/jpeg;base64');
          } else if (tmpSrc.lastIndexOf('data:,') != -1) {
            tmpSrc = tmpSrc.replace('data:,', 'data:image/jpeg;base64,');
          }
          
          doFileSelected(tmpSrc, thisOuter,callback);
        };
    })(f)
    reader.readAsDataURL(f);
    //alert('可以的')
  } else {
    //alert('不可以');
    var tmpSrc = siteUrl+"/images/admin2/pic_select_defalut.png";
    doFileSelected(tmpSrc, thisOuter,callback);
  }
}

// 选择图片后的操作
function doFileSelected(tmpSrc, thisOuter,callback)
{
  var img = '<img src="'+tmpSrc+'" style="width:100%; height:100%;" class="do_img js_perUpAdd"/>';
  thisOuter.hide();
  thisOuter.closest('.js_perUpWrap').find('img').remove();
 // thisOuter.empty(); 
  thisOuter.parent().prepend(img);
  var showId = thisOuter.attr('data-show-id');
  if (showId) {
    if ($("#"+showId).length >= 1) {
      $("#"+showId).find('img').attr('src', tmpSrc);
      
    } else if ($("."+showId).length >= 1) {
      $("."+showId).each(function(i){
        $(this).html(img);
      });
    }
  }
  if (typeof(callback) != 'undefined') {
    callback(tmpSrc);
  }
 
}

//取得文件名的后缀
function getFileExt(fileName)
{
  if (!fileName) {
    return '';
  }
  
  var _index = fileName.lastIndexOf('.');
  if (_index < 1) {
    return '';
  }
  
  return fileName.substr(_index+1);
}

//是合格的文件名
function isAllowFile(fileName, allowType)
{
  var fileExt = getFileExt(fileName).toLowerCase();
  if (!allowType) {
    allowType = ['jpg', 'jpeg', 'png', 'gif'];
  }
  
  if ($.inArray(fileExt, allowType) != -1) {
    return true;
  }
  
  return false;
}

autoHeight();

$(window).resize(function(){
  autoHeight();
})
//左右等高
function autoHeight(){
      var leftH= $('.form-add').height();
      var rightH = $('.form-add-view').height();
      if (leftH > rightH){
        $('.form-add-view').css({ height:(leftH+100) });
      } else {
        $('.form-add-view').css({ height:'auto' });
      }
}


function check_form(){
   var result=true;
   var city_id     = $('.js_city').val();
   var area_id     = $('.js_area').val();
   var js_budget   = $('.js_budget').val();
   var BusinessId  = $('.selectBusinessId').val();
   var tingdian    = $('.tingji').val();
   var mianji      = $('.men').val();
   var last_time      = $('#start_time').val();
   var begin_time      = $('#from_time').val();
   var end_time      = $('#end_time').val();
   var box = $("input[type='checkbox']").is(':checked');
   var design_company = $("input[name='info[design_company]'").val();
   var mobile_add = $("input[name='info[mobile_add]'").val();
   var designer = $("input[name='info[designer]'").val();
   var design_phone = $("input[name='info[design_phone]'").val();
   var take = $("input[name='info[take]'").val();
   var take_phone = $("input[name='info[take_phone]'").val();
   var wide_add = $("input[name='info[wide_add]'").val();
   var pc_add = $("input[name='info[pc_add]'").val();
   var work_add = $("input[name='info[work_add]'").val();
   if(!tingdian || !mianji || !last_time || !begin_time || !end_time || !js_budget || !design_company || !design_phone || !take || !take_phone || !wide_add || !pc_add || !work_add || !box || city_id == 0 || area_id == 0){
       alert('信息不完整');
       result=false;
       return result;
   }

   if(!BusinessId){
       alert('请输入正确渠道码');
       result=false;
       return result;
   }
   
   return result;
}
</script>

<!-- 上传加载div -->
<div class="pop-bg hidden" id="addLoading">
  <div class="modal-dialog" style=" width:300px; margin:0 auto;top: 25%;">
    <div style="margin:0 auto;width:100px;"><img style="width:100px;" src="{$smarty.const.STATIC_URL}/images/loading.gif"></div>
    <div style="margin:0 auto;width:250px;font-size:25px; color:#fee" class="pop-msg">数据上传中...</div>
  </div>
</div>
	
</body>
</html>