      
        <footer class="footer">
          <ul class="nav">
            <li class="active">
              <a href="{AnUrl('e/admin/rfid/stat')}"><span class="icon icon-rank"></span><span class="name">体验排行</span></a>
            </li>
            <li>
              <a href="{AnUrl('screen_dm/device')}"><span class="icon icon-liangping"></span><span class="name">亮屏统计</span></a>
            </li>
            <li>
              <a href="{AnUrl('/e/api/electron_price_login')}"><span class="icon icon-tag"></span><span class="name">电子价签</span></a>
            </li>
          </ul>
        </footer>
    </div>
  </body>
  <script>
    //判断是否微信登陆
    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        console.log(ua); //mozilla/5.0 (iphone; cpu iphone os 9_1 like mac os x) applewebkit/601.1.46 (khtml, like gecko)version/9.0 mobile/13b143 safari/601.1
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }
    if (isWeiXin()) {
        console.log(" 是来自微信内置浏览器")
        $('.header').addClass('hidden');
    } else {
        console.log("不是来自微信内置浏览器")
    }
  
  </script>
</html>