{include_www file="admin/lib/header_new.html" title="探针管理"}
{include_www file="admin/lib/sidebar_new.html"}   
<!-- 主内容 start -->
<!--start:右侧-->
<div class="main pull-right">
    <div class="column">
        <div class="position">
            <a href="{AnUrl('probe_dev/admin')}"><i class="iconfont iconfont-logo2"></i>探针管理</a>
            &gt;
            <span>固件管理</span>
        </div>
        <div class="form-search clearfix">
            <div class="pull-left">
                <form action="{AnUrl('probe_dev/admin')}" methhod='get'>
                    <select class="form-control input-sm pull-left js_province" id='province' style="width:120px" name="search_filter[province]" >
                        <option value="">请选择省</option>
                    </select>
                    <select class="form-control input-sm pull-left js_city" id="city" style="width:120px" name="search_filter[city]">
                        <option value="">请选择市</option>
                    </select>
                    <select class="form-control input-sm pull-left js_area" id="area" style="width:120px" name="search_filter[area]">
                        <option value="">请选择区</option>
                    </select>
                    <select class="form-control input-sm pull-left onlineStatus"  style="width:120px" name="search_filter[dev_status]">
                        <option value="0" {if $search_filter.dev_status == 0}selected{/if}>全部</option>
                        {foreach probe_dev_config::$dev_status as $k => $v}
                            <option value="{$k}" {if $search_filter.dev_status == $k}selected{/if}>{$v.status}</option>
                        {/foreach }
                        
                    </select>
                    <input type="text" name="search_filter[business]" style="width:150px" value="{$search_filter.business}" class="form-control input-sm pull-left" placeholder="按营业厅搜索" id="autocomplete"/>
                    <button type="submit" class="btn-search pull-left">搜索</button>
                </form>
            </div>
            <div class="pull-right">
                <a href="{AnUrl('probe_dev/admin/add')}" class="btn btn-sm btn-success">添加固件</a>
            </div>
        </div>

        <div class="list">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>版本信息</th>
                        <th>版本大小</th>
                        <th>版本aes-key</th>
                        <th>发布时间</th>
                        <th>设备量</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $list as $k=>$v}
                        <tr id="dataList{$v.id}" class="view_id">
                            <td>{business_hall_helper::get_info_name('province' , $v.province_id ,'name')}</td>
                            <td>{business_hall_helper::get_info_name('city' , $v.city_id ,'name')}</td>
                            <td>{business_hall_helper::get_info_name('area' , $v.area_id ,'name')}</td>
                            <td>{business_hall_helper::get_business_hall_info($v.business_id ,'title')}</td>
                            <td>{$v.device}</td>
                            <td>{$v.rssi}</td>
                            <td>{$v.remarks}</td>
                            <td>
                         
                                {$dev_status = probe_dev_config::$dev_status[{$v.dev_status}]}
                                {if !$dev_status}
                                    <span style="color:yellow;">未知</span>
                                {else}
                                    <a class="btn btn-xs btn-info" style="background-color:{$dev_status.color}; border-color:{$dev_status.color}" href="javascript:;">{$dev_status.status}</a>
                                {/if}
                            </td>
                            <td resId={$v.id}>
                                {if $v.status}
                                    <a class="btn btn-xs btn-success" href='{AnUrl("probe_dev/admin/edit?id={$v.id}")}'>编辑</a>
                                    <a class="btn btn-xs btn-info" href='{AnUrl("probe_record/admin/hour?b_id={$v.business_id}")}'>查看统计</a>
                                    <a class="btn btn-xs btn-danger delete_hot" href="javascript:;">删除</a>
                                {else}
                                    <a class="btn btn-xs btn-success js_recovery" id="{$v.id}" href='javascript:;'>恢复</a>
                                {/if}
                            </td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
            {include_www file="admin/lib/pager_new.html"}
        </div>
    </div>
</div>
<script src="{$smarty.const.SITE_URL}/js/region_func.js"></script>
<script>
$('#autocomplete').autocomplete({
    source: 'probe_rule/admin/ajax/get_business_hall_list',
});
</script>
<script>
//排序
$(function() {
    $('.delete_hot').live('click',function(event){
        event.preventDefault();
        event.stopPropagation();
        if (!confirm("确定要删除该条记录吗？")) {
          return false;
        }
        updateStatus.update(this,2);
    });

    {if $search_filter.province}
        var p_id = {$search_filter.province};
    {else}
        var p_id = 0;
    {/if}

    {if $search_filter.city}
        var c_id = {$search_filter.city};
    {else}
        var c_id = 0;
    {/if}

    {if $search_filter.area}
        var a_id = {$search_filter.area};
    {else}
        var a_id = 0;
    {/if}

    /**
     * 省市区多级联动
     *
     * @author  wangl
     */
    region(p_id, c_id, a_id);
});

var updateStatus = {
   _id:'',
   _msg :'操作失败',
   _url:"{AnUrl('probe_dev/admin/delete')}",
   update:function(obj,status){
       this._id = $(obj).parent().attr('resId');

       $.post(this._url,{ id:this._id, status:status },function(json){
           if (json.info == 'ok') {
                updateStatus.deleteHtml(obj);
           } else {
               alert(json.info);
           }
       },'json')
   },
   deleteHtml:function(obj){
       $(obj).closest("tr").fadeOut(function(){
          $(this).remove();
          interLineColor();
      });
      return false;
   },
   updateHtmlDown:function(obj){
       $(obj).html('立即发布');
       $(obj).removeClass('btn-danger');
       $(obj).removeClass('down_del');

       $(obj).addClass('btn-info');
       $(obj).addClass('up_del');
      
   },
   updateHtmlUp:function(obj){
       $(obj).html('手动下线');
       $(obj).addClass('btn-danger');
       $(obj).addClass('down_del');

       $(obj).removeClass('btn-info');
       $(obj).removeClass('up_del');
   }
};

$('.js_recovery').click(function(){
     if ( !confirm("确定要恢复该条记录吗？") ) {
        return false;
    }

     var id   = $(this).attr('id');
     var url  = siteUrl + '/probe_dev/admin/recovery';
     var post = { 'id': id };
     var tr   = $(this).closest("tr");

     $.post(url, post, function(json){
          if ( json.info != 'ok' ) {
               alert(json.info);
               return false;
          }
          tr.fadeOut(function(){
               tr.remove();
         });
     }, 'json');
});

$('.btnExport').on('click', function () {

  $('form').prepend('<input type="hidden" name=is_export value="1" >');
  $('form').submit();
  $('form input[name="is_export"]').remove();
});
</script>
<!-- 主内容 end -->
{include_www file="admin/lib/footer_new.html"}
